@import url('https://v1.fontapi.ir/css/Estedad');
* {
  max-width: 1440px;
  box-sizing: content-box;
  font-family: Estedad, sans-serif;
}

header{
    height: 115px;
   
}

carousel-item{
    position: relative;
  
}
.order{
  background-color: #417F56;
  color: #fff;
  padding:1rem 2.5rem;
  border-radius: 8px;
  position: absolute;
  right: 40%;
  top: 65%;
       }